.App {
  text-align: center;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(./components/images/background.jpg);
  background-attachment: fixed;
}

.Main {
  background-color: rgba(245, 245, 245, 0.8);
}

.Home{
  width: 100%;
  min-height: 100%
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #fffcfc;
  color: black;
}

.addStyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #fffcfc;
  color: black;
  text-decoration: none;
}

.nav-Links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.Logo {
  width: 150px;
  height: 100%;
}

.Occupation_List {
  background-color: #fffcfc;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
}

.dropbtn {
  background-color: #fffcfc;
  color: black;
  padding: 16px 30px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: black;
  color: white;
}

.link {
  color: white;
  background-color: #424242;
}
